<h1>Hello from Moses </h1>
<p>
Its now <%= @time %>
</p>
<p>
Addition <%= 1+3 %>
</p>
<p>
Time in one hour: <%= 1.hour.from_now.localtime %>
</p>
Time to say
<%= link_to "Goodbye", say_goodbye_path %>!
</p>